#{ extends 'main.html' /}

<div class="grid_13">The following table shows Rebeccas working hours. If you would like an appointment outside of her normal hours
 please don't hesitate to contact Rebecca.</div>
			<div class="working-hours-blurb"></div>
			<div class="working-hours">
				<h1>
					<div class="heading">Working hours</div>
					<div class="caption">(first to last appointment)</div>
					<div class="clearfloats"></div>
				</h1>
				<div class="day-with-hours odd">
					<div class="day">Monday</div>
					<div class="all-day">7.30am to 8.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours even">
					<div class="day">Tuesday</div>
					<div class="all-day">7.30am to 8.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours odd">
					<div class="day">Wednesday</div>
					<div class="all-day">7.30am to 8.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours even">
					<div class="day">Thursday</div>
					<div class="all-day">7.30am to 9.30pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours odd">
					<div class="day">Friday</div>
					<div class="all-day">7.30am to 8.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours even">
					<div class="day">Saturday</div>
					<div class="all-day">8.00am to 5.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours odd">
					<div class="day">Sunday</div>
					<div class="all-day">special occasions only</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
			</div>
		</td>
	</tr>
</table>
