#{ extends 'main.html' /}

<table class="contentpaneopen">
	<tr>
		<td valign="top">
			<div class="main-areas-covered">
				<p class="blurb">Largely based in Surrey, Rebecca has regular clients based across South and West London. The map below indicates the areas that she travels to, however she is willing to consider other areas also.</p>
				<p class="blurb">If you live further afield, or in/via central London, please contact her to discuss travel options and the costs that you may incur, including petrol and congestion charges. These will always be made clear to you prior to her travelling to your appointment.</p>
				
				<div class="map-areas-covered">
					<div class="blurb">Map showing where Rebecca is happy to travel (costs included in prices). Click <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=206127331059784256104.00049b3a7165e017c24c9&amp;ll=51.294559,-0.005493&amp;spn=0.601121,2.197266&amp;z=9&amp;iwloc=&amp;source=embed" mce_href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=206127331059784256104.00049b3a7165e017c24c9&amp;ll=51.294559,-0.005493&amp;spn=0.601121,2.197266&amp;z=9&amp;iwloc=&amp;source=embed" style="color: rgb(0, 0, 255); text-align: left;" mce_style="color:#0000FF;text-align:left" target="_new">here</a> to view as a larger map.</div>
					<div class="map"><iframe marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=206127331059784256104.00049b3a7165e017c24c9&amp;ll=51.294559,-0.005493&amp;spn=0.601121,2.197266&amp;z=9&amp;iwloc=&amp;output=embed" mce_src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=206127331059784256104.00049b3a7165e017c24c9&amp;ll=51.294559,-0.005493&amp;spn=0.601121,2.197266&amp;z=9&amp;iwloc=&amp;output=embed" frameborder="0" height="350" scrolling="no" width="100%"></iframe></div>
				</div>
			
				<div class="list-areas-covered">
					<div class="blurb">Alternatively, the following list shows areas that Rebecca is happy to travel to. This includes areas in between.</div>
					<div class="list">
						<ul class="areas">
							<li>Croydon</li>
							<li>Sutton</li>
							<li>Rosehill</li>
							<li>Wimbledon</li>
							<li>Cheam</li>
							<li>Morden</li>
							<li>New Malden</li>
							<li>Kingston</li>
							<li>Epsom</li>
							<li>Esher</li>
							<li>Cobham</li>
							<li>Raynes Park</li>
							<li>Worcester Park</li>
							<li>Mitcham</li>
							<li>Wallington</li>
							<li>Purley</li>
							<li>Kenley</li>
							<li>Caterham</li>
							<li>Lingfield</li>
							<li>East Grinstead</li>
							<li>Coulsdon</li>
							<li>Banstead</li>
							<li>West Wickham</li>
							<li>Shirley</li>
							<li>Beckenham</li>
							<li>Thornton Heath</li>
							<li>Crystal Palace</li>
							<li>Norwood</li>
							<li>Addington</li>
							<li>Addiscombe</li>
							<li>Warlingham</li>
							<li>Bromley</li>
							<li>Tooting</li>
							<li>Streatham</li>
							<li>Catford</li>
							<li>Lewisham</li>
							<li>Fulham</li>
							<li>Putney</li>
							<li>Clapham</li>
							<li>Orpington</li>
							<li>Bickley</li>
							<li>Locksbottom</li>
							<li>Farnborough</li>
							<li>Biggin Hill</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfloats">&nbsp;</div>
			
			<div class="working-hours-blurb">The following table shows Rebeccas working hours. If you would like an appointment outside of her normal hours please don't hesitate to contact Rebecca.</div>
			<div class="working-hours">
				<h1>
					<div class="heading">Working hours</div>
					<div class="caption">(first to last appointment)</div>
					<div class="clearfloats"></div>
				</h1>
				<div class="day-with-hours odd">
					<div class="day">Monday</div>
					<div class="all-day">7.30am to 8.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours even">
					<div class="day">Tuesday</div>
					<div class="all-day">7.30am to 8.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours odd">
					<div class="day">Wednesday</div>
					<div class="all-day">7.30am to 8.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours even">
					<div class="day">Thursday</div>
					<div class="all-day">7.30am to 9.30pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours odd">
					<div class="day">Friday</div>
					<div class="all-day">7.30am to 8.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours even">
					<div class="day">Saturday</div>
					<div class="all-day">8.00am to 5.00pm</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
				<div class="day-with-hours odd">
					<div class="day">Sunday</div>
					<div class="all-day">special occasions only</div>
					<div class="end-working-hours">&nbsp;</div>
				</div>
			</div>
		</td>
	</tr>
</table>
