#{ extends 'main.html' /}

#{set 'moreScripts'}
	#{script 'jquery-1.4.2.min.js' /}
	#{script 'jquery.jcarousel.min.js' /}
#{/set}

#{set 'moreStyles'}
	#{stylesheet 'carousel.css' /}
#{/set}

<script type="text/javascript">
	$(document).ready(function() {
		$('#carousel').jcarousel({ scroll: 1 });
	});
</script>

<ul id="carousel" class="jcarousel-skin-tango">
	<li><img src="/public/images/be_transformed.jpg" width="900" height="400" /></li>
	<li><img src="/public/images/looking_to_the_common.jpg" width="900" height="400" /></li>
</ul>
