#{ extends 'main.html' /}


<div class="grid_13">Fairy tale wedding or low key ceremony, your wedding day is one of the most important days in your lifetime and the perfect hairstyle 
is a big part of creating your dream look.</div>
<div class="clear"></div>
<br/>


<div class="grid_13">This isn't something you can leave to chance, so a trial run before the wedding allows Rebecca to discuss your likes and dislikes, assess your hair type
 and show you a few styles to inspire you.</div>
<div class="clear"></div>
<br/>


<div class="grid_13">Fully trained in bridal hair, and flexible to suit you, call Rebecca today to find out how you can feel radiant and confident in the spotlight.</div>
<div class="clear"></div>
<br/>

<div class="grid_12" style="border-bottom: 1px solid #b3ced6; margin: 0px; font-style: italic;">
Services
</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">bride - trial</div><div class="grid_1">price on request</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">bride - day</div><div class="grid_1">price on request</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">adult Bridesmaid - trial</div><div class="grid_1">price on request</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">adult Bridesmaid - day</div><div class="grid_1">price on request</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">child Bridesmaid/Flower girl (under 12) - trial</div><div class="grid_1">price on request</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">child Bridesmaid/Flower girl (under 12) - day</div><div class="grid_1">price on request</div>
<div class="clear"></div>