#{ extends 'main.html' /}
#{set 'moreScripts'}
	#{script 'galleria/galleria-1.2.6.min.js' /}
	#{script 'galleria/themes/classic/galleria.classic.min.js' /}
#{/set}

#{set 'inlineJavascript'}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
		    $('#portfolio').galleria({ width:800, height:500 });
		});
	</script>
#{/set}

<div id="portfolio">	
	<a href="/public/images/portfolio/new/behindandhigh.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/behindandhigh.jpg" alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/behindleft.jpg " alt="" title=""><img src="/public/images/portfolio/new/thumbnail/behindleft.jpg " alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/boyandgirlbehind.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/boyandgirlbehind.jpg" alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/dancing.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/dancing.jpg" alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/frombehind.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/frombehind.jpg" alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/handsatwork.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/handsatwork.jpg" alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/happyboyandgirl.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/happyboyandgirl.jpg" alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/midcut.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/midcut.jpg" alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/ringlets.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/ringlets.jpg" alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/shadows.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/shadows.jpg" alt="" title="" alt="" title="" /></a>
	<a href="/public/images/portfolio/new/sideon.jpg" alt="" title=""><img src="/public/images/portfolio/new/thumbnail/sideon.jpg" alt="" title="" alt="" title="" /></a>
</div>
