#{ extends 'main.html' /}

<table class="contentpaneopen">
	<tr>
		<td valign="top">
			<div class="price-list">
			<div class="section">
			<h1>Cutting &amp; Styling</h1>
			
			<div class="odd"><span class="service">Wet cut</span><span class="price">£16.50</span></div>
			<div class="even"><span class="service">Blow-dry</span><span class="price">£17.00</span></div>
			<div class="odd"><span class="service">Blow-dry and tonged curls</span><span class="price">£30.00</span></div>
			<div class="even"><span class="service">Cut and blow-dry</span><span class="price">£27.00</span></div>
			<div class="odd"><span class="service">Shampoo and set</span><span class="price">£11.00</span></div>
			<div class="even"><span class="service">Shampoo, cut and set</span><span class="price">£18.00</span></div>
			
			<div class="odd"><span class="service">Men's cut</span><span class="price">£10.00</span></div>
			<div class="even"><span class="service">Child cut - under 5 years</span><span class="price">£5.00</span></div>
			<div class="odd"><span class="service">Child cut - under 10 years</span><span class="price">£7.50</span></div>
			<div class="even"><span class="service">Child cut - under 13 years</span><span class="price">£10.00</span></div>
			</div>
			<div class="section">
			<h1>Colouring</h1>
			<div class="odd"><span class="service">Tint</span><span class="price">£30.00</span></div>
			
			<div class="even"><span class="service">T-Section highlights</span><span class="price">£35.00</span></div>
			<div class="odd"><span class="service">Half head highlights</span><span class="price">£45.00</span></div>
			<div class="even"><span class="service">Full head highlights</span><span class="price">£65.00</span></div>
			<div class="odd"><span class="service">Cap highlights</span><span class="price">£30.00</span></div>
			</div>
			<div class="section">
			<h1>Additional Services</h1>
			<div class="odd"><span class="service">Perm</span><span class="price">£40.00</span></div>
			
			<div class="even"><span class="service">Conditioning treatment (including head massage)</span><span class="price">£10.00</span></div>
			<div class="odd"><span class="service">Bridal Hair</span><span class="price">see the <a target="_self" mce_href="/bridal" href="/bridal">Bridal</a> section</span></div>
			<div class="even"><span class="service">Hair extensions</span><span class="price">price upon consultation</span></div>
			</div>
			</div>
		</td>
	</tr>
</table>
