#{ extends 'main.html' /}


<div class="grid_12" style="border-bottom: 1px solid #b3ced6; margin: 0px; font-style: italic;">
Cutting & Styling
</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">wet cut</div><div class="grid_1">£25.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">wash and blow dry</div><div class="grid_1">£25.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">blow dry and tonged curls</div><div class="grid_1">£33.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">wash cut and blow dry</div><div class="grid_1">£35.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">shampoo and set</div><div class="grid_1">£15.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">shampoo cut and set</div><div class="grid_1">£25.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">mens cut</div><div class="grid_1">£15.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">child cut</div><div class="grid_1">£10.00</div>
<div class="clear"> </div>
<br/>

<div class="grid_12" style="border-bottom: 1px solid #b3ced6; margin: 0px; font-style: italic;">
Colouring
</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">tint</div><div class="grid_1">£45.00 - £60.00 (depending on hair length)</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">t section highlights</div><div class="grid_1">£45.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">half head highlights</div><div class="grid_1">£55.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">full head highlights</div><div class="grid_1">£75.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">cap highlights</div><div class="grid_1">£35.00</div>
<div class="clear"> </div>
<br/>

<div class="grid_12" style="border-bottom: 1px solid #b3ced6; margin: 0px; font-style: italic;">
Additional Services
</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">perm - short hair</div><div class="grid_1">£45.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">perm - long hair</div><div class="grid_1">£60.00</div>
<div class="grid_8 suffix_3" style="margin-left: 10px; margin-right: -10px;">conditioning treatment (including head massage)</div><div class="grid_1">£15.00</div>
<div class="grid_8" style="margin-left: 10px; margin-right: -10px;">bridal hair</div><div class="grid_4" style="text-align: right;">see the <a target="_self" mce_href="/bridal" href="/bridal">bridal</a> section</div>
<div class="grid_8" style="margin-left: 10px; margin-right: -10px;">hair extensions</div><div class="grid_4" style="text-align: right;">price upon consultation</div>
<div class="clear"> </div>
