#{ extends 'main.html' /}

<table class="contentpaneopen">
	<tr>
		<td valign="top">
		<div class="contact">
		<div class="blurb">For more information on your hair styling needs, or to book an appointment with Rebecca, please contact her via phone or email:</div>
		<div class="contact-details">
			<div class="form-of-contact"><span class="type">phone</span><span class="details">078 5647 7343</span></div>
			<div class="form-of-contact"><span class="type">email</span><span class="details"><a href="mailto:
			 <script language='JavaScript' type='text/javascript'>
			 <!--
			 var prefix = 'm&#97;&#105;lt&#111;:';
			 var suffix = '';
			 var attribs = '';
			 var path = 'hr' + 'ef' + '=';
			 var addy49905 = '&#105;nf&#111;' + '&#64;';
			 addy49905 = addy49905 + 'r&#101;b&#101;cc&#97;ch&#101;r&#105;' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
			 document.write( '<a ' + path + '\'' + prefix + addy49905 + suffix + '\'' + attribs + '>' );
			 document.write( addy49905 );
			 document.write( '<\/a>' );
			 //-->
			 </script><script language='JavaScript' type='text/javascript'>
			 <!--
			 document.write( '<span style=\'display: none;\'>' );
			 //-->
			 </script>This e-mail address is being protected from spambots. You need JavaScript enabled to view it
			 <script language='JavaScript' type='text/javascript'>
			 <!--
			 document.write( '</' );
			 document.write( 'span>' );
			 //-->
			 </script>" mce_href="mailto:
			 <script language='JavaScript' type='text/javascript'>
			 <!--
			 var prefix = 'm&#97;&#105;lt&#111;:';
			 var suffix = '';
			 var attribs = '';
			 var path = 'hr' + 'ef' + '=';
			 var addy60813 = '&#105;nf&#111;' + '&#64;';
			 addy60813 = addy60813 + 'r&#101;b&#101;cc&#97;ch&#101;r&#105;' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
			 document.write( '<a ' + path + '\'' + prefix + addy60813 + suffix + '\'' + attribs + '>' );
			 document.write( addy60813 );
			 document.write( '<\/a>' );
			 //-->
			 </script><script language='JavaScript' type='text/javascript'>
			 <!--
			 document.write( '<span style=\'display: none;\'>' );
			 //-->
			 </script>This e-mail address is being protected from spambots. You need JavaScript enabled to view it
			 <script language='JavaScript' type='text/javascript'>
			 <!--
			 document.write( '</' );
			 document.write( 'span>' );
			 //-->
			 </script>">
			 <script language='JavaScript' type='text/javascript'>
			 <!--
			 var prefix = 'm&#97;&#105;lt&#111;:';
			 var suffix = '';
			 var attribs = '';
			 var path = 'hr' + 'ef' + '=';
			 var addy61200 = '&#105;nf&#111;' + '&#64;';
			 addy61200 = addy61200 + 'r&#101;b&#101;cc&#97;ch&#101;r&#105;' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
			 document.write( '<a ' + path + '\'' + prefix + addy61200 + suffix + '\'' + attribs + '>' );
			 document.write( addy61200 );
			 document.write( '<\/a>' );
			 //-->
			 </script><script language='JavaScript' type='text/javascript'>
			 <!--
			 document.write( '<span style=\'display: none;\'>' );
			 //-->
			 </script>This e-mail address is being protected from spambots. You need JavaScript enabled to view it
			 <script language='JavaScript' type='text/javascript'>
			 <!--
			 document.write( '</' );
			 document.write( 'span>' );
			 //-->
			 </script></a></span></div>
			</div>
		</div>
		</td>
	</tr>
</table>