#{ extends 'main.html' /}

<table class="contentpaneopen">
	<tr>
		<td valign="top">
			<p>With 10 years of hands-on experience in the hair and beauty industry, Rebecca has developed a large and varied Clientele across London. From Cutting and Colouring, to Extensions and Bridal hair, Rebecca is passionate about creating a style that you will love and that will suit your lifestyle long after your appointment ends.<br /><br /></p>
			<p>Rebecca operates as a mobile hairdresser, giving you the luxury of having your hair styled in the comfort of your own home. This has proved especially popular with those who don't want to have to travel to an appointment, cant leave their homes very easily, and busy professionals who need the flexibility of an evening appointment.<br /><br /></p>
			<p>Rebecca is proud of the long lasting relationships that she has built with her clients, many of them referring to her as part of their family and continuing to use her services for well over 5 years.<br /><br /></p>
			<p>Rebecca regularly attends industry events, conferences and specialist training to ensure that she is using the latest tried and tested techniques on your hair.<br /><br /></p>
		</td>
	</tr>
</table>
