#{ extends 'main.html' /}


<div class="grid_13">
Rebecca operates as a mobile hairdresser, giving you the luxury of having your hair styled in the comfort of your own home. This has proved especially popular with those who don't want to have to travel to an appointment, cant leave their homes very easily, and busy professionals who need the flexibility of an evening appointment.
</div>
<div class="clear"></div>
<br/>

<div class="grid_13">
Rebecca is proud of the long lasting relationships that she has built with her clients, many of them referring to her as part of their family and continuing to use her services for well over 5 years.
</div>
<div class="clear"></div>
<br/>

<div class="grid_13">
Rebecca regularly attends industry events, conferences and specialist training to ensure that she is using the latest tried and tested techniques on your hair.
</div>
<div class="clear"></div>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

