#{ extends 'main.html' /}

<div class="grid_13">Rebecca is a mobile hairdresser in London, giving you the luxury of hair care in the comfort of your own home.</div>
<div class="clear"></div>
<br/>

<div class="grid_13">
This has proved especially popular with those who cant or don't want to have to travel to an appointment, 
and busy professionals who require the flexibility of evening and weekend appointments.
</div>
<div class="clear"></div>
<br/>

<div class="grid_13">
Rebecca regularly attends industry events, conferences and trainings to ensure that she is using the latest techniques on your hair. 
She has built lasting relationships with her clientile, many of whom she has been styling for well over 5 years.
</div>
<div class="clear"></div>
<br/>

<div class="grid_13" style="font-weight: bold;">
Call Rebecca today to make an appointment: 078 5647 7343
</div>
<div class="clear"></div>
<br/>





<div class="grid_13">

</div>
<div class="clear"></div>
<br/>


<div class="grid_13">


</div>
<div class="clear"></div>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

