<!DOCTYPE html>



<html>
    <head>
        <title>Rebecca Cheri Hair Dressing</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/reset.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/960.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/rebecca-cheri.css'}" />
        <link href='http://fonts.googleapis.com/css?family=Kameron' rel='stylesheet' type='text/css' />
        #{get 'moreStyles' /}
        
        #{script 'jquery-1.7.1.js' /}
		#{get 'moreScripts' /}
		#{get 'inlineJavascript' /}
		
		#{if play.Play.configuration.get("display.overlay") == 'true'}
			#{script 'grid-overlay.js' /}
		#{/if}
		
        <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-20232832-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		  })();
		</script>
    </head>
    <body style="background: white;">
		
		<div class="container_16" id="header">
			<div class="grid_5">
				<img src="/public/images/rebeccacheri_280.jpg" width="280" height="199" alt="Rebecca Cheri" />
				<p style="text-align: center; font-size: 150%; letter-spacing: 3px; font-family: 'Kameron', serif">R<span style="font-size: 92%;">EBECCA </span>C<span style="font-size:92%">HERI</span></p>
				<p style="text-align: center; font-style: italic; font-family: sans-serif">mobile hairdressing</p>
			</div>
			<div class="clear"></div>
			<div class="grid_2"><a href="/">Home</a></div>
			<div class="grid_2"><a href="/prices">Prices</a></div>
			<div class="grid_2"><a href="/areas-and-hours">Areas and hours</a></div>
			<div class="grid_2"><a href="/bridal">Bridal</a></div>
			<div class="grid_2"><a href="/contact">Contact</a></div>
			<div class="grid_2"><a href="/about-me">About Rebecca</a></div>
			<div class="grid_2"><a href="/portfolio">Portfolio</a></div>
		</div>
		
		<div class="container_16">
			<div class="grid_12">
 	   			#{doLayout /}
 	   		</div>
		</div>    		
    </body>
</html>
