<!DOCTYPE html>



<html>
    <head>
        <title>Rebecca Cheri Hair Dressing</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/reset.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/960.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/rebecca-cheri.css'}" />
        <link href='http://fonts.googleapis.com/css?family=Kameron|Tangerine' rel='stylesheet' type='text/css'>
		
		#{get 'moreStyles' /}
        
        #{script 'jquery-1.7.1.js' /}
		#{get 'moreScripts' /}
		#{get 'inlineJavascript' /}
		
		#{if play.Play.configuration.get("display.overlay") == 'true'}
			#{script 'grid-overlay.js' /}
		#{/if}
		
		
        <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-20232832-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		  })();
		</script>
    </head>
    <body style="background: black;">

    	<div class="container_16" style="background: white; padding-top: 20px; padding-bottom: 20px;">
			<div class="grid_5">
				<img src="/public/images/rebeccacheri_280.jpg" width="280" height="199" alt="Rebecca Cheri" />
				<p style="text-align: center; font-size: 150%; letter-spacing: 3px; font-family: 'Kameron', serif">R<span style="font-size: 92%;">EBECCA </span>C<span style="font-size:92%">HERI</span></p>
				<p style="text-align: center; font-style: italic; font-family: sans-serif">mobile hairdressing</p>
			</div>
    		
    		<div class="grid_1" style="margin-right: 0px; text-align: right;">
				<img src="/public/images/twirl_upper.jpg" width="36" height="43" />
			</div>
			
			<div class="grid_9" style="margin-left: 0; margin-right: 0pt; padding-right: 40px;">
				<img src="/public/images/blue_line8.jpg" width="560" height="23" />
				<img src="/public/images/headline3.jpg" width="559" height="300" style="border-right: 1px solid #659ba9"/>
				<div style="float: left;margin-top: -50px; margin-left: -320px; z-index: 3; position: relative; font-family: 'Tangerine', cursive; letter-spacing: 0px; font-size: 250%;">
					<div class="grid_2" style="margin-left: 5px; margin-right: 5px;"><a href="/about-me">about</a></div>
					<div class="grid_2" style="margin-left: 5px; margin-right: 5px;"><a href="/portfolio">portfolio</a></div>
					<div class="grid_2" style="margin-left: 5px; margin-right: 5px;"><a href="/bridal">bridal</a></div>
					<div class="grid_2" style="margin-left: 5px; margin-right: 5px;"><a href="/prices">prices</a></div>
					<div class="grid_2" style="margin-left: 5px; margin-right: 5px;"><a href="/areas">areas</a></div>
					<div class="grid_2" style="margin-left: 5px; margin-right: 5px;"><a href="/hours">hours</a></div>
					<div class="grid_2" style="margin-left: 5px; margin-right: 5px;"><a href="/contact">contact</a></div>
				</div>
				<div style="float: left;margin-top: 0px; margin-left: -320px; margin-right: -100px; z-index: 3; position: relative;">
					<img src="/public/images/blue_line_upside_down_thin.jpg" width="900" height="23" />
				</div>			
			</div>			

			<div class="grid_1" style="margin-left: 0px">
				<img src="/public/images/twirl_upper_left.jpg" width="36" height="43" />
			</div>
	
			<div class="clear"></div>
		</div>
				
		<div class="container_16" id="content" style="background: white;">
			<div class="prefix_1 grid_14 suffix_1">
 	   			#{doLayout /}
 	   		</div>
		</div>    		

		<div class="container_16" style="background: white;">
    		<div class="grid_1" style="margin-right: 0px; text-align: right;">
				<img src="/public/images/twirl_lower.jpg" width="36" height="43" />
			</div>
			
			<div class="grid_14" style="margin-left: 0; margin-right: 0pt; margin-top: 20px; padding-right: 40px;">
				<img src="/public/images/blue_line_upside_down.jpg" width="880" height="23" />			
			</div>
			
			<div class="grid_1" style="margin-left: 0px">
				<img src="/public/images/twirl_lower_left.jpg" width="36" height="43" />
			</div>
			
		</div>

    </body>
</html>
